@CHARSET "UTF-8";
.bounceInUp{
	-moz-animation: bounceInUp 1s ease both;
	-webkit-animation: bounceInUp 1s ease both;
	-o-animation: bounceInUp 1s ease both;
	-ms-animation: bounceInUp 1s ease both;
	-khtml-animation: bounceInUp 1s ease both;
	animation: bounceInUp 1s ease both;
}

.bounceIn{
	-moz-animation: bounceIn 1s ease both;
	-webkit-animation: bounceIn 1s ease both;
	-o-animation: bounceIn 1s ease both;
	-ms-animation: bounceIn 1s ease both;
	-khtml-animation: bounceIn 1s ease both;
	animation: bounceIn 1s ease both;
}

.fadeIn{
	-moz-animation: fadeIn 1s ease both;
	-webkit-animation: fadeIn 1s ease both;
	-o-animation: fadeIn 1s ease both;
	-ms-animation: fadeIn 1s ease both;
	-khtml-animation: fadeIn 1s ease both;
	animation: fadeIn 1s ease both;
}

.fadeInUp{
	-moz-animation: fadeInUp 1s ease both;
	-webkit-animation: fadeInUp 1s ease both;
	-o-animation: fadeInUp 1s ease both;
	-ms-animation: fadeInUp 1s ease both;
	-khtml-animation: fadeInUp 1s ease both;
	animation: fadeInUp 1s ease both;
}

.shake{
	-moz-animation: shake 0.3s ease both;
	-webkit-animation: shake 0.3s ease both;
	-o-animation: shake 0.3s ease both;
	-ms-animation: shake 0.3s ease both;
	-khtml-animation: shake 0.3s ease both;
	animation: shake 0.3s ease both;
}

.bounceIn{
	-moz-animation: bounceIn 0.5s ease both;
	-webkit-animation: bounceIn 0.5s ease both;
	-o-animation: bounceIn 0.5s ease both;
	-ms-animation: bounceIn 0.5s ease both;
	-khtml-animation: bounceIn 0.5s ease both;
	animation: bounceIn 0.5s ease both;
}

.bounceInLeft{
	-moz-animation: bounceInLeft 0.3s ease both;
	-webkit-animation: bounceInLeft 0.3s ease both;
	-o-animation: bounceInLeft 0.3s ease both;
	-ms-animation: bounceInLeft 0.3s ease both;
	-khtml-animation: bounceInLeft 0.3s ease both;
	animation: bounceInLeft 0.3s ease both;
}

.bounceOut{
	-moz-animation: bounceOut 0.3s ease both;
	-webkit-animation: bounceOut 0.3s ease both;
	-o-animation: bounceOut 0.3s ease both;
	-ms-animation: bounceOut 0.3s ease both;
	-khtml-animation: bounceOut 0.3s ease both;
	animation: bounceOut 0.3s ease both;
}

.bounceInDown{
	-moz-animation: bounceInDown 0.3s ease both;
	-webkit-animation: bounceInDown 0.3s ease both;
	-o-animation: bounceInDown 0.3s ease both;
	-ms-animation: bounceInDown 0.3s ease both;
	-khtml-animation: bounceInDown 0.3s ease both;
	animation: bounceInDown 0.3s ease both;
}

.bounceOutUp{
	-moz-animation: bounceOutUp 0.3s ease both;
	-webkit-animation: bounceOutUp 0.3s ease both;
	-o-animation: bounceOutUp 0.3s ease both;
	-ms-animation: bounceOutUp 0.3s ease both;
	-khtml-animation: bounceOutUp 0.3s ease both;
	animation: bounceOutUp 0.3s ease both;
}

.bounceOutLeft{
	-moz-animation: bounceOutLeft 0.3s ease both;
	-webkit-animation: bounceOutLeft 0.3s ease both;
	-o-animation: bounceOutLeft 0.3s ease both;
	-ms-animation: bounceOutLeft 0.3s ease both;
	-khtml-animation: bounceOutLeft 0.3s ease both;
	animation: bounceOutLeft 0.3s ease both;
}

.mainIn{
	-moz-animation: fadeIn 0.3s ease both;
	-webkit-animation: fadeIn 0.3s ease both;
	-o-animation: fadeIn 0.3s ease both;
	-ms-animation: fadeIn 0.3s ease both;
	-khtml-animation: fadeIn 0.3s ease both;
	animation: fadeIn 0.3s ease both;
}